parameters:
    level: 5
    paths:
        - tests
        - games
        - tools/progress.php
        - tools/snippets.php
        - tools/coverage.php
        - tools/bench.php
        - tools/fuzz.php
