<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="GazLang Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <groups>
        <!-- The self-hosted drivers on big inputs on both VMs (CVMTest), seconds each on the PHP VM.
             Run them before merging by naming the group: phpunit group whole-repository -->
        <exclude>
            <group>whole-repository</group>
        </exclude>
    </groups>
</phpunit> 